.badge.bg-success {
    background-color: var(--success) !important;
}

.badge.bg-warning {
    background-color: var(--warning) !important;
}

.badge.bg-danger {
    background-color: var(--danger) !important;
}