:root {
    /* Brand */
    --blue-600: #2563EB;
    --blue-800: #1E40AF;
    --blue-100: #DBEAFE;

    /* Neutral */
    --white: #ffffff;
    --black: #000000;

    --slate-900: #0F172A;
    --slate-700: #334155;
    --slate-500: #64748B;
    --slate-300: #CBD5E1;
    --slate-100: #F1F5F9;

    /* State */
    --success: #22C55E;
    --warning: #F59E0B;
    --danger: #EF4444;
}